<div>
    <fieldset>
        <legend style="color:red;font-weight:bolder;">
            Unauthorized:
        </legend>
        <div>
            <span style="font-size:large;font-weight:bold">
                Access is denied. Please contact IT Administrator.
            </span>
        </div>
    </fieldset>
</div>
